body {
    margin: 0;
    font-family: 'Trebuchet MS'
}

header {
    background: purple;
    text-align: center;
}

.logo {
     color: #fff;
     font-family: 'Tangerine';
     text-align: center;
     font-size: 80px;
}

header input {
    font-size: 20px;
    margin: 20px 0;
}

.news_item{
    background-color: orangered;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}